JWT_SECRET=supersecret
PORT=3001

POSTGRES_TYPE=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=student
POSTGRES_PASSWORD=password
POSTGRES_DB=kupipodariday_db

PGDATA=/var/lib/postgresql/data
